.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  border: 1px solid black;
}

.content {
  border: 1px solid red;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
h1 {
  text-align: centere;
}
